
@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
body{
  min-height: 100vh;
}


.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.c-black {
  color: #000;
}

.c-grey {
  color: #A8B8C5;
}

.c-blue {
  color: #0089EE;
}

.c-red {
  color: #FF4343;
}
.bg-image{
  @include bg;
}

.container {
  max-width: 1120px !important;
  position: relative;
  padding: 0 2rem;

  @media (max-width: 576px){
    padding: 0 1.7rem;
  }
  &.main{
    &:before{
      content: "ai-club";
      font-weight: 900;
      font-size: 10rem;
      line-height: 8rem;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.04);
      position: sticky;
      display: block;
      margin-left: -89rem;
      transform: rotate(-90deg);
      top: 30.25rem;
    }
  }
}


.dropdown-toggle {
  &.show {
    &::after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  &::after {
    content: "\f078";
    font-family: FontAwesome, serif;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: unset;
    border-top: unset;
    border-right: unset;
    border-bottom: unset;
    border-left: unset;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.heading{
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;

  @media (max-width: 480px){
    font-size: 2rem;
  }
}

@mixin text-gradient-yellow{
  background: linear-gradient(90deg, #D63547 0%, #F17F4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-yellow{
  @include text-gradient-yellow
}

body{
  background: url("../assets/images/body-bg.svg"), url("../assets/images/body-rounded-blur.svg");
  background-position: top right, 0 17rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #080E1D;

  &.home{
    background: url("../assets/images/body-bg.svg"), url("../assets/images/body-rounded-blur.svg"), url("../assets/images/home-bg.png");
    background-position: top right, 0 22rem, 52rem 3rem;
    background-repeat: no-repeat;
    background-color: #080E1D;
    background-size: contain;
  }

  @media (max-width: 768px){
    background-size: 71.25rem;
  }
}

.menu-site{
  width: 100%;
  background: rgba(17, 13, 35, 0.8);
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
  &-item{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;
    &:hover{
      @include text-gradient-yellow;
    }
  }
  &-solid{
    width: 1px;
    height: 1rem;
    background: rgba(255, 255, 255, 0.16);
  }

  .mobile-menu-board{
    width: 30px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 767px) {
      display: flex;
    }
    &.active{
      span{
        &:nth-of-type(1){
          transform: rotate(45deg);
          top: 10px;
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:nth-of-type(3){
          transform: rotate(-45deg);
          top: -10px;
        }
      }
    }
    span {
      transition: 0.3s;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      margin-bottom: 8px;
      background-color: #fff;
      position: relative;
      &:last-child{
        margin: 0;
      }
      &:nth-of-type(1){
        transform: rotate(0);
        top: 0
      }
      &:nth-of-type(2){
        opacity: 1;
      }
      &:nth-of-type(3){
        transform: rotate(0);
        top: 0;
      }
    }
  }
}

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(17, 13, 35, 0.8);
  z-index: 1;
  margin-top: 72px;
  @include flex('s', 'c');
  flex-direction: column;
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
  transition: 0.3s;
  opacity: 0;
  &.active{
    transform: translateX(0);
    opacity: 1;
  }
  &-item{
    border-bottom: 1px solid #ffffff2b;
  }
}

//.............. contact

.form{


form {

   border: 1px solid rgba(255, 255, 255, 0.04);
  .inputBox {
    display: flex;
    @media (max-width: 480px) {
      display: block;
    }
    .labelinput {
      width: 49%;
      margin-right: 20px;
      height: 56px;
      padding: 10px;
      display: flex;
      justify-content: start;
      background: transparent;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.04);
      @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 10px;
      }
      img{
        margin-right: 8px ;
        width: 18px;
        height: 12px;
      }
      input {
        width: 100%;
        background: transparent;
        border: none !important;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        &::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #FFFFFF;

        }
      }
    }


    .contact-select {
      border: 1px solid rgba(255, 255, 255, 0.04);
      width: 49%;
      height: 56px;
      padding: 10px ;
      border-radius: 0 !important;
      background: transparent !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 16px !important;
      color: #fff !important;
      @media (max-width: 480px) {
          width: 100%;
      }
      option {
        color: #1E1E1E;
      }
    }

  }

  .form-floating{

    textarea{
      border: 1px solid rgba(255, 255, 255, 0.04);
      background: transparent !important;
      border-radius: 0 !important;
      resize: none !important;
      min-height: 248px !important;
      color: #fff !important;
      padding-top: 30px !important;
      padding-left: 20px !important;
      &:focus{
        box-shadow: none;
      }
    }

    label{
      color: #fff !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 16px !important;
      &:after{
        background-color: transparent !important;
        color: #000 !important;
      }

      img{
        margin-right: 8px;
      }
    }

  }

}

}


// ............end contact

// footer


footer{
  .footer-content{
    @include flex('sb' ,'c');
    position: relative;

    @media (max-width: 576px) {
      flex-direction: column;

    }
    .footer-title{
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.32);
      @media (max-width: 576px) {
        margin-top: 1.25rem;
      }
    }
  }
}

.page-title{
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #FFFFFF;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 4rem;
    height: 0.25rem;
    left: -100px;
    top: 50%;
    background: #fff;
    transform: translateY(-50%);
  }
}

.nnc{
  width: 100%;
  height: auto;
  @include flex('sb', 'st');
  flex-wrap: wrap;
  &-item{
    @include col(3);
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    padding: 2rem;

    &:nth-of-type(1){
      padding-left: 0;
    }

    &:nth-of-type(4n + 5){
      padding-left: 0;
    }
    &:nth-of-type(4n){
      border-right: 0;
    }

    @media (min-width: 769px){
      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}){
          padding-top: 0;
        }
      }
      @for $i from 13 through 16 {
        &:nth-of-type(#{$i}){
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    @media (max-width: 768px) and (min-width: 577px){
      @include col(6);

      &:nth-of-type(2n + 1){
        padding-left: 0;
      }
      &:nth-of-type(2n){
        border-right: 0;
      }

      @for $i from 1 through 2 {
        &:nth-of-type(#{$i}){
          padding-top: 0;
        }
      }
      @for $i from 15 through 16 {
        &:nth-of-type(#{$i}){
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    @media (max-width: 576px){
      @include col(12);

      padding-left: 0;
      border-right: 0;

      &:nth-of-type(1){
        padding-top: 0;
      }
      &:nth-of-type(16){
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    &-number{
      font-size: 2rem;
      line-height: 1.5rem;
      position: relative;
      margin-bottom: 2.25rem;
      font-weight: bold;
      @include text-gradient-yellow;
      &:after{
        content: "";
        position: absolute;
        width: 2rem;
        height: 0.25rem;
        background: #fff;
        bottom: -13px;
        left: 0;
      }
    }
    &-title{
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #FFFFFF;
    }
    &-text{
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #6D768F;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

.services-item{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/images/services-item-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  backdrop-filter: blur(12px);
  padding: 2.5rem 2rem;

  @include flex('sb', 'c');
  flex-direction: column;
  &-title{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1.125rem;
  }
  &-text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1.125rem;
  }

}

.def-btn{
  width: 12.9375rem;
  height: 4rem;
  border: 0;
  background: url("../assets/images/btn-bg.svg") no-repeat center center;
  background-size: 100% 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

// widgets
.widgets-title{
  font-weight: 400;
  font-style: normal;
}

// widgets end


// widget

.widget-title{
  font-weight: 400;
  font-style: normal;
}

.image-widget{
  &.active{
    opacity: .4;
    transition: all .2s linear;
  }
}

.widget-heading{
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #FFFFFF;

}


