::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
body {
  min-height: 100vh;
}

.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.c-black {
  color: #000;
}

.c-grey {
  color: #A8B8C5;
}

.c-blue {
  color: #0089EE;
}

.c-red {
  color: #FF4343;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  max-width: 1120px !important;
  position: relative;
  padding: 0 2rem;
}
@media (max-width: 576px) {
  .container {
    padding: 0 1.7rem;
  }
}
.container.main:before {
  content: "ai-club";
  font-weight: 900;
  font-size: 10rem;
  line-height: 8rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.04);
  position: sticky;
  display: block;
  margin-left: -89rem;
  transform: rotate(-90deg);
  top: 30.25rem;
}

.dropdown-toggle.show::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.dropdown-toggle::after {
  content: "\f078";
  font-family: FontAwesome, serif;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: unset;
  border-top: unset;
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;
}
@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}

.text-gradient-yellow {
  background: linear-gradient(90deg, #D63547 0%, #F17F4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

body {
  background: url("../assets/images/body-bg.svg"), url("../assets/images/body-rounded-blur.svg");
  background-position: top right, 0 17rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #080E1D;
}
body.home {
  background: url("../assets/images/body-bg.svg"), url("../assets/images/body-rounded-blur.svg"), url("../assets/images/home-bg.png");
  background-position: top right, 0 22rem, 52rem 3rem;
  background-repeat: no-repeat;
  background-color: #080E1D;
  background-size: contain;
}
@media (max-width: 768px) {
  body {
    background-size: 71.25rem;
  }
}

.menu-site {
  width: 100%;
  background: rgba(17, 13, 35, 0.8);
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
}
.menu-site-item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.3s;
}
.menu-site-item:hover {
  background: linear-gradient(90deg, #D63547 0%, #F17F4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.menu-site-solid {
  width: 1px;
  height: 1rem;
  background: rgba(255, 255, 255, 0.16);
}
.menu-site .mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .menu-site .mobile-menu-board {
    display: flex;
  }
}
.menu-site .mobile-menu-board.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 10px;
}
.menu-site .mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-site .mobile-menu-board.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: -10px;
}
.menu-site .mobile-menu-board span {
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #fff;
  position: relative;
}
.menu-site .mobile-menu-board span:last-child {
  margin: 0;
}
.menu-site .mobile-menu-board span:nth-of-type(1) {
  transform: rotate(0);
  top: 0;
}
.menu-site .mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.menu-site .mobile-menu-board span:nth-of-type(3) {
  transform: rotate(0);
  top: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(17, 13, 35, 0.8);
  z-index: 1;
  margin-top: 72px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
  transition: 0.3s;
  opacity: 0;
}
.mobile-menu.active {
  transform: translateX(0);
  opacity: 1;
}
.mobile-menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.168627451);
}

.form form {
  border: 1px solid rgba(255, 255, 255, 0.04);
}
.form form .inputBox {
  display: flex;
}
@media (max-width: 480px) {
  .form form .inputBox {
    display: block;
  }
}
.form form .inputBox .labelinput {
  width: 49%;
  margin-right: 20px;
  height: 56px;
  padding: 10px;
  display: flex;
  justify-content: start;
  background: transparent;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.04);
}
@media (max-width: 480px) {
  .form form .inputBox .labelinput {
    width: 100%;
    margin-bottom: 10px;
  }
}
.form form .inputBox .labelinput img {
  margin-right: 8px;
  width: 18px;
  height: 12px;
}
.form form .inputBox .labelinput input {
  width: 100%;
  background: transparent;
  border: none !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.form form .inputBox .labelinput input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.form form .inputBox .contact-select {
  border: 1px solid rgba(255, 255, 255, 0.04);
  width: 49%;
  height: 56px;
  padding: 10px;
  border-radius: 0 !important;
  background: transparent !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  color: #fff !important;
}
@media (max-width: 480px) {
  .form form .inputBox .contact-select {
    width: 100%;
  }
}
.form form .inputBox .contact-select option {
  color: #1E1E1E;
}
.form form .form-floating textarea {
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: transparent !important;
  border-radius: 0 !important;
  resize: none !important;
  min-height: 248px !important;
  color: #fff !important;
  padding-top: 30px !important;
  padding-left: 20px !important;
}
.form form .form-floating textarea:focus {
  box-shadow: none;
}
.form form .form-floating label {
  color: #fff !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}
.form form .form-floating label:after {
  background-color: transparent !important;
  color: #000 !important;
}
.form form .form-floating label img {
  margin-right: 8px;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 576px) {
  footer .footer-content {
    flex-direction: column;
  }
}
footer .footer-content .footer-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.32);
}
@media (max-width: 576px) {
  footer .footer-content .footer-title {
    margin-top: 1.25rem;
  }
}

.page-title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #FFFFFF;
  position: relative;
}
.page-title:before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.25rem;
  left: -100px;
  top: 50%;
  background: #fff;
  transform: translateY(-50%);
}

.nnc {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.nnc-item {
  width: calc((100% / 12) * 3 - 0rem);
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 2rem;
}
.nnc-item:nth-of-type(1) {
  padding-left: 0;
}
.nnc-item:nth-of-type(4n + 5) {
  padding-left: 0;
}
.nnc-item:nth-of-type(4n) {
  border-right: 0;
}
@media (min-width: 769px) {
  .nnc-item:nth-of-type(1) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(2) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(3) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(4) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(13) {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .nnc-item:nth-of-type(14) {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .nnc-item:nth-of-type(15) {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .nnc-item:nth-of-type(16) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .nnc-item {
    width: calc((100% / 12) * 6 - 0rem);
  }
  .nnc-item:nth-of-type(2n + 1) {
    padding-left: 0;
  }
  .nnc-item:nth-of-type(2n) {
    border-right: 0;
  }
  .nnc-item:nth-of-type(1) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(2) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(15) {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .nnc-item:nth-of-type(16) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  .nnc-item {
    width: calc((100% / 12) * 12 - 0rem);
    padding-left: 0;
    border-right: 0;
  }
  .nnc-item:nth-of-type(1) {
    padding-top: 0;
  }
  .nnc-item:nth-of-type(16) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.nnc-item-number {
  font-size: 2rem;
  line-height: 1.5rem;
  position: relative;
  margin-bottom: 2.25rem;
  font-weight: bold;
  background: linear-gradient(90deg, #D63547 0%, #F17F4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.nnc-item-number:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  background: #fff;
  bottom: -13px;
  left: 0;
}
.nnc-item-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}
.nnc-item-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6D768F;
  margin-top: 1rem;
  margin-bottom: 0;
}

.services-item {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/images/services-item-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  backdrop-filter: blur(12px);
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.services-item-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 1.125rem;
}
.services-item-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 1.125rem;
}

.def-btn {
  width: 12.9375rem;
  height: 4rem;
  border: 0;
  background: url("../assets/images/btn-bg.svg") no-repeat center center;
  background-size: 100% 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
