
@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}


.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.c-black {
  color: #000;
}

.c-grey {
  color: #A8B8C5;
}

.c-blue {
  color: #0089EE;
}

.c-red {
  color: #FF4343;
}

.container {
  max-width: 1120px !important;
  position: relative;
  &.main{
    &:before{
      content: "ai-club";
      font-weight: 900;
      font-size: 160px;
      line-height: 128px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.04);
      position: absolute;
      transform: rotate(-90deg);
      left: -535px;
      top: 340px;
    }
  }
}


.dropdown-toggle {
  &.show {
    &::after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  &::after {
    content: "\f078";
    font-family: FontAwesome, serif;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: unset;
    border-top: unset;
    border-right: unset;
    border-bottom: unset;
    border-left: unset;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.heading{
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;

  @media (max-width: 480px){
    font-size: 2rem;
  }
}

@mixin text-gradient-yellow{
  background: linear-gradient(90deg, #D63547 0%, #F17F4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-yellow{
  @include text-gradient-yellow
}

body{
  background: url("../assets/images/body-bg.svg"), url("../assets/images/body-rounded-blur.svg");
  background-position: top right, 0 17rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #080E1D;

  &.home{
    background: url("../assets/images/body-bg.svg"), url("../assets/images/body-rounded-blur.svg"), url("../assets/images/home-bg.png");
    background-position: top right, 0 22rem, 52rem 3rem;
    background-repeat: no-repeat;
    background-color: #080E1D;
    background-size: contain;
  }
}

.menu-site{
  width: 100%;
  background: rgba(17, 13, 35, 0.8);
  height: 72px;
  &-item{
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;
    &:hover{
      @include text-gradient-yellow;
    }
  }
  &-solid{
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.16);
  }

  .mobile-menu-board{
    width: 30px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: $md) {
      display: flex;
    }
    &.active{
      span{
        &:nth-of-type(1){
          transform: rotate(45deg);
          top: 10px;
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:nth-of-type(3){
          transform: rotate(-45deg);
          top: -10px;
        }
      }
    }
    span {
      transition: 0.3s;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      margin-bottom: 8px;
      background-color: #fff;
      position: relative;
      &:last-child{
        margin: 0;
      }
      &:nth-of-type(1){
        transform: rotate(0);
        top: 0
      }
      &:nth-of-type(2){
        opacity: 1;
      }
      &:nth-of-type(3){
        transform: rotate(0);
        top: 0;
      }
    }
  }
}

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(17, 13, 35, 0.8);
  z-index: 1;
  margin-top: 72px;
  @include flex('s', 'c');
  flex-direction: column;
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
  transition: 0.3s;
  opacity: 0;
  &.active{
    transform: translateX(0);
    opacity: 1;
  }
  &-item{
    border-bottom: 1px solid #ffffff2b;
  }
}
